user-management-api/src/main/resources/role.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="role">
    <xs:sequence>
      <xs:element name="roleName" type="xs:string" minOccurs="1"/>
      <xs:element name="status" type="xs:boolean" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>